{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Leominster Philosopy Group - Password Reset{% endblock %}

<div class="title-4">
    You cannot reset your password automatically on this site. If you complete this form an administrator will supply you with a new password. 
    If this does not happen within a few days you would be wise to remind an administrator at the next group meeting, or by email.
</div>

{% block page_content %}
<div class="container-sm mt-2">
    <h1>Reset Your Password</h1>
    {{ render_form(form) }}
</div>
{% endblock %}