{% extends "base.html" %}
{% block page_content %}
<div class="container-fluid">
    <h3 class="text-center">Groups (Admin)</h3>
    {% for g in groups: %}
    <div class="row">
      <div class="col-1">
        <p>{{ g['id'] }}</p>
      </div>
      <div class="col-2">
        <p>{{ g['groupname'] }}</p>
      </div>
      <div class="col-7">
        <p>{{ g['category'] }}</p>
      </div>
      <div class="col-2">
        <p><a class="btn btn-primary btn-sm m-2" href="#" role="button">Join</a></p>
      </div>
    </div>
    {% endfor %} 
</div> 

{% endblock %}
