{% extends "base.html" %}
{% block page_content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ topic.title }}</h4>
      <p class="card-text md">{{ topic.summary }}</p> 
      <p class="card-text">{{ topic.content }}</p> 
      <div class="clearfix">
        <div class="float-end">proposed by: {{ topic.author.fullname() }}</div>
      </div>
      {% if ( current_user.id == topic.author_id ) or current_user.is_moderator() %}
        <!-- past topics cannot be edited -->
      <div>
          <a class="btn btn-primary btn-sm m-2" href="{{ url_for('topics.edittopic', id=topic.id )}}" role="button">Edit This Topic</a>
      </div>
      {% endif %}
      {% if current_user.is_moderator() %}
        <a class="btn btn-danger btn-sm m-2" href="{{ url_for('manage.delete_topic', id=topic.id )}}" role="button">Delete This Topic</a>
      {% endif %}
      {% if current_user.is_administrator() %}
        <a class="btn btn-primary btn-sm m-2" href="{{ url_for('manage.setmeetingtime', topic_id=topic.id )}}" role="button">Schedule This Topic</a>
      {% endif %}
    </div>
  </div>

  {% for comment in commentsd %}
  <!-- <p>comment }}</p> -->
  <div class="card">
    <div class="card-body">
      <div class="card-text"> {{ comment["content"] }} </div>
      <div class="clearfix">
        <div class="float-end">comment by: {{ comment["author_name"] }}</div>
      </div>
      {% if current_user.is_moderator() or (current_user.id==comment.author_id) %}
        <a class="btn btn-primary btn-sm m-2" href="url_for('main.editcomment', comment_id=comment.id )}}" role="button">Edit This Comment</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% if current_user.id: %}
<div class="container">
  <a class="btn btn-primary btn-sm m-2" href="{{ url_for('topics.new_comment', topic_id=topic.id ) }}">Add a new Comment</a>
</div>
{% endif %}
{% endblock %}
