h1, h2, h3, h4, h5 {
  color: #000
}

form textarea#summary {
  height: 200px;
}

form textarea#content {
  height: 300px;
}

form textarea#mkd {
  height: 400px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn {
  background-color: #87CEEB;
  text-align: center;
  font-size: 14px;
}