{% if current_user.is_administrator() %} <!--  Start administrator -->
<li class="nav-item dropdown"></li>
    <a class="nav-link dropdown-toggle btn-warning" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administration</a>
    <ul class="dropdown-menu">

        <li><a class="dropdown-item" href="{{url_for('manage.todos')}}">Todos</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ url_for('manage.users') }}">Users</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ url_for('main.new_info') }}">New Info</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ url_for('main.edit_info', id=1 ) }}">Edit Main Info</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href=" url_for('manage.topics') ">Reschedule Topics</a></li>
        <li><hr class="dropdown-divider"></li>    
    </ul>
</li>
{% endif %} <!-- end administrator --> 